.searchbar {
    background-color: var(--white);
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.5rem var(--gray);
}

.searchbar form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar input {
    border: none;
    outline: none;
}

.searchbar input::placeholder {
    color: var(--gray);
}

.searchbar button {
    background-color: var(--primary);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
}

.searchbar button:hover {
    background-color: var(--primary-focus);
}