@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

html, body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.17rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h4, h5, h6, p, span {
    font-weight: 400;
}

p, span {
    font-size: 1rem;
}

:root {
    --white: #fff;
    --gray: #ccc;
    --black: #011030;
    --primary: #1a73e8;
    --primary-focus: #1669e2;
    --grass: #78c850;
    --poison: #a040a0;
    --fire: #f08030;
    --flying: #a890f0;
    --water: #6890f0;
    --bug: #a8b820;
    --normal: #a8a878;
    --electric: #f8d030;
    --ground: #e0c068;
    --fairy: #ee99ac;
    --fighting: #c03028;
    --psychic: #f85888;
    --rock: #b8a038;
    --steel: #b8b8d0;
    --ice: #98d8d8;
    --ghost: #705898;
    --dark: #705848;
    --dragon: #7038f8;
}